.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffaa00;
    animation: moveAndFadeOut 4s forwards;
    animation-delay: 4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
  }
  
  .flipWords {
    font-size: 68px;
    font-weight: bold;
    z-index: 201;
  }
  
  @keyframes moveAndFadeOut {
    0% {
      transform: translateY(0); /* Changed from -100% to 0 */
    }
    100% {
      transform: translateY(-200%);
    }
  }
  